.dccache
*.a
*.d
*.o
*.so
*.ts
*.dll
*.exe
/Tcl/*
/doc/CHANGES0
/doc/CHANGES1
/doc/CHANGES2
/share/zoneinfo/
/src/library/**/inst/po/**/LC_MESSAGES/*.mo
!/src/library/translations/inst/po/**/LC_MESSAGES/*.mo
.Rhistory
/autom4te.cache/*

/doc/*/*.html
/doc/doxygen/html
/doc/NEWS.*.rds
/src/library/*/po/*.po~
/src/library/*/all.R
/src/**/Makedeps
/src/**/Makefile
!/src/gnuwin32/installer/Makefile
!/src/gnuwin32/fixed/Makefile
!/src/gnuwin32/cran/Makefile
!/src/gnuwin32/Makefile

/src/library/*/DESCRIPTION
/src/library/*.inn

/GIT-REVISION
/Makeconf
/Makefile
/Makefile.bak
/Makefrag.*
/aclocal.m4
/bin/
/config.log
/config.status
/doc/FAQ
/doc/Makefile
/doc/NEWS
/doc/NEWS.pdf
/doc/NEWS.rds
/doc/R.1
/doc/RESOURCES
/doc/*/Makefile
/doc/manual/stamp-images-html
/doc/manual/version.texi
/etc/Makeconf
/etc/Renviron
/etc/javaconf
/etc/ldpaths
/include/
/library/
/libtool
/m4/Makefile
/non-tarball
/po/Makefile
/share/Makefile
/src/Makefile
/src/extra/intl/charset.alias
/src/extra/intl/charsetalias.h
/src/extra/intl/libgnuintl.h
/src/include/R_ext/stamp-R
/src/include/Rconfig.h
/src/include/Rconfig.tsa
/src/include/Rmath.h
/src/include/Rmath.h0
/src/include/Rmath.tsa
/src/include/Rversion.h
/src/include/Rversion.tsa
/src/include/config.h
/src/include/libintl.h
/src/include/stamp-R
/src/include/stamp-h
/src/library/Recommended/stamp-recommended
/src/library/stamp-docs
/src/main/R.bin
/src/scripts/R.fe
/src/scripts/R.sh
/src/scripts/Rcmd
/src/scripts/javareconf
/src/scripts/mkinstalldirs
/src/scripts/pager
/src/scripts/rtags
/src/unix/Rscript
/stamp-java
/tests/Embedding/Makefile
/tests/Examples/Makefile
/tests/Makefile
/tests/CXXR/Makefile
/tests/CXXR2/Makefile
/tools/Makefile
/etc/Makefile
/src/nmath/standalone/*.lo
/src/nmath/standalone/*.cpp
/src/nmath/standalone/check.log
/tests/Examples/*.R
/tests/Examples/*.R-cnt
/tests/Examples/*.Rout
/tests/Examples/*.Rout.prev
/tests/Examples/*.pdf
/tests/*.Rout
/tests/*.pdf
/SVN-REVISION
/tests/PkgC_1.0-0.tar.gz
/tests/R-intro.R
/tests/Rprofmem.out
/tests/base.Rcheck/
/tests/compiler.Rcheck/
/tests/datasets.Rcheck/
/tests/ex.gz
/tests/exNSS4_1.1.tar.gz
/tests/exSexpr_1.1.tar.gz
/tests/grDevices.Rcheck/
/tests/graphics.Rcheck/
/tests/grid.Rcheck/
/tests/methods.Rcheck/
/tests/myTst2/
/tests/no-segfault.R
/tests/p-r-random-tests_seed
/tests/parallel.Rcheck/
/tests/pkgA_1.2.tar.gz
/tests/pkgB_1.0.tar.gz
/tests/pkgD_2.1.2.tar.gz
/tests/splines.Rcheck/
/tests/stats.Rcheck/
/tests/stats4.Rcheck/
/tests/tcltk.Rcheck/
/tests/tools.Rcheck/
/tests/utils.Rcheck
/tests/*.Rcheck/
/tests/RecPackages/*/
/.RData
/src/include/CXXR/stamp-R
/tests/CXXR/CellPooltest
/tests/CXXR/CellPooltest.out
tests/CXXR/CellHeaptest
tests/CXXR/CellHeaptest.out
/tests/CXXR/MemoryBanktest
/tests/CXXR/Allocatortest
/tests/CXXR/GCManagertest
/tests/CXXR/splice_test
/tests/CXXR/GCManagertest.out
/tests/CXXR/RObject_sizer
/tests/CXXR/Allocatortest.out
/tests/CXXR/RObject_sizer.out
/tests/CXXR2/misc.Rout
/src/library/Recommended/*.tar.gz
/src/library/Recommended/*.tgz
src/nmath/standalone/*.cpp
etc/i386/Makeconf
etc/curl-ca-bundle.crt
etc/Rcmd_environ
etc/Rconsole
etc/Rdevga
src/extra/graphapp/Rgraphapp.def
src/extra/intl/libintl.h
src/include/fixh
src/include/iconv.h
src/include/psignal.h
src/include/trioremap.h
etc/rgb.txt
etc/Rprofile.site
src/gnuwin32/fixed/fixdoc
src/gnuwin32/fixed/fixetc
src/gnuwin32/fixed/fixhtml
src/gnuwin32/MkRules.local
src/gnuwin32/MkRules
src/gnuwin32/COPYRIGHTS
doc/CHANGES
doc/CHANGES.rds
etc/x64/Makeconf
doc/Rscript.1
src/library/grDevices/src/cairo/winCairo.def
doc/manual/rw-FAQ
src/modules/lapack/la_xisnan.mod
src/modules/lapack/la_constants.mod
src/modules/lapack/Rlapack.def
src/gnuwin32/R.def
src/gnuwin32/R1.def
src/gnuwin32/R0.def
src/library/*/po/*.mo
doc/manual/htmlxref.cnf
src/nmath/standalone/test
tests/exNSS4nil_1.0.tar.gz
tests/parseDataEx_0.1-0.tar.gz
tests/pkgB2_1.0.tar.gz
tests/pkgB3_1.0.tar.gz
tests/PR17501_1.0.tar.gz
tests/PR17859.1_1.0.tar.gz
tests/PR17859.2_1.0.tar.gz
tests/PR17859.3_1.0.tar.gz
tests/S3export_1.0.tar.gz
share/bibliographies/R.rds
